body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    background: #F4F4F4;
}

.encabezado{
  background: black;
  width: auto;
  text-align: center;
  color: whitesmoke;
  padding: 10px;
  position: relative;
}

.menu-principal{
  background: black;
  float: inherit;
  position: sticky;
  color: whitesmoke;
  text-align: center;

}

.menu-principal ul li{
  display: inline-block;
}

.menu-principal ul li a{
  display: inline-block;
  margin-left: 45px;
  padding: 15px 35px;
  color: whitesmoke;
  text-decoration: none;
}

.menu-principal ul li a:hover{
  background-color: #EF2100;
}


h1,h2
{
    text-align: center;
}



.articulo{
  width: auto;
  position: sticky;   
  padding: 5px;
  overflow: hidden;
  color: black;   
}

.section1{
  width: 70%;
  margin: 10px;
  padding: 50px;
  border: 3px solid black;
  border-style: solid; 
  float:left;
  background: white;
  text-align: justify;
  
}

.caja0
{
  text-align: center;
  color: white;
  border: 3px solid #002C30;
  border-style: solid; 
  border-width: 4px;
  width: 45px;
  height: 45px;
  margin-left:320px;
  margin-top:-53px;
  background-color: #008792; 
}

.caja1
{
  text-align: center;
  color: white;
  border: 3px solid #002C30;
  border-style: solid; 
  border-width: 4px;
  width: 45px;
  height: 45px;
  margin-left:391px;
  margin-top:-53px;
  background-color: #008792; 
}

.caja2
{
  text-align: center;
  color: white;
  border: 3px solid #002C30;
  border-style: solid; 
  border-width: 4px;
  width: 45px;
  height: 45px;
  margin-left:460px;
  margin-top:-53px;
  background-color: #008792; 
}

.caja3
{
  text-align: center;
  color: white;
  border: 3px solid #002C30;
  border-style: solid; 
  border-width: 4px;
  width: 45px;
  height: 45px;
  margin-left:528px;
  margin-top:-53px;
  background-color: #008792; 
}

.caja4
{
  text-align: center;
  color: white;
  border: 3px solid #002C30;
  border-style: solid; 
  border-width: 4px;
  width: 45px;
  height: 45px;
  margin-left:598px;
  margin-top:-53px;
  background-color: #008792; 
}

.caja5
{
  text-align: center;
  color: white;
  border-style: solid; 
  border: 3px solid #002C30;
  border-width: 4px;
  width: 45px;
  height: 45px;
  margin-left:663px;
  margin-top:-53px;
  background-color: #008792; 
}

.caja6
{
  text-align: center;
  color: white;
  border-style: solid; 
  border: 3px solid #002C30;
  border-width: 4px;
  width: 45px;
  height: 45px;
  margin-left:731px;
  margin-top:-53px;
  background-color: #008792; 
}

.caja7
{
  text-align: center;
  color: white;
  border: 3px solid #002C30;
  border-style: solid; 
  border-width: 4px;
  width: 45px;
  height: 45px;
  margin-left:800px;
  margin-top:-53px;
  background-color: #008792; 
}

.caja8
{
  text-align: center;  
  color: white;
  border: 3px solid #002C30;
  border-style: solid; 
  border-width: 4px;
  width: 45px;
  height: 45px;
  margin-left:870px;
  margin-top:-53px;
  background-color: #008792; 
}

.caja9
{
  text-align: center;
  color: white;
  border: 3px solid #002C30;
  border-style: solid; 
  border-width: 4px;
  width: 45px;
  height: 45px;
  margin-left:940px;
  margin-top:-53px;
  background-color: #008792; 
}


.boton{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    border-radius: 6px;
    
  }


.boton1{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    border-radius: 6px;

  }

